<center><h1>Welcome <%=@user.username %>, to your personal Smart Shopping list.</h1></center>
</br>

<center><h3>Would you like to:</h3></center>
<center><ol>
<li><a href='/view'>View Your List</a></li>
<li><a href='/new'>Add More Items</a></li>
<li><a href="/logout">Logout</a></li>

</ol></center>