<center><h1>Welcome <%=@user.username %>, to your personal Smart Shopping list.</h1></center>
</br>

<center><h3>Would you like to:</h3></center>
<center><ol>
<li>View Your List</li>
<li>Add More Items</li>
<li>Edit Items</li>
<li><a href="/logout">Logout</a></li>

</ol></center>