<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="container">
  <center><header><div><img src="\images\grocery-shopping-vector.png" class="img-responsive main-image"></div></header></center>
  
    <center><h1>Welcome to Smart Shopping </h1></center>
    <center><h2><i>Where you can create your very own shopping list</i></h2></center>
   
    
     <center> <p>Please enter the item you would like to edit:</center></p>
 
   <form action="/list/<%= @item.id %>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="patch">
        <center><p>Item: <input type="text" name="name" value="<%= @item.name %> ">
        Quantity: <input type="text" name="quantity" value="<%= @item.quantity %>"></center>
        <input type="submit" value="Submit" id="submit"> 
   </form>
  or

    <form action="/list/<%= @item.id %>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete" id="Delete"> </center>
   </form>

  
</div>
