<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="container">
  <center><header><div><img src="\images\grocery-shopping-vector.png" class="img-responsive main-image"></div></header></center>
  
    <center><h1>Welcome to Smart Shopping </h1></center>
    <center><h2><i>Where you can create your very own shopping list</i></h2></center>
   
    
     <center> <p>Please enter the item you would like to add to your shopping list:</center></p>
   
   <form action='/list/view' method="POST"><br>
        <center><p>Item: <input type="text" name="name" id="name"></p></center>
        <center><p>Quantity: <input type="text" name="quantity" id="quantity"></p></center>
        <center><input type="submit" id="submit"/></center>
   
   </form>
   

  
</div>
