<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="container">
  <center><header><div><img src="\images\grocery-shopping-vector.png" class="img-responsive main-image"></div></header></center>
  
    <center><h1>Welcome to Smart Shopping </h1></center>
    <center><h2><i>Where you can create your very own shopping list</i></h2></center>
   
    
     <center> <p>Here are your items:</center></p>
   
   <% @items.each do |item| %>
   <%# if item.user_id == session[:user_id] %> 
    <center><p><%=item.quantity%> <%= item.name %> <a href='/list/<%= item.id %>/edit'>Edit</a></p></center>
    
    <%# end %>
    <% end %>

<center>
<%# <a href="/logout"><button type="button">Clear Shopping List</button></a> => need to fix %>
<a href='/new'><button type="button">Add More Items</button></a>
<a href="/logout"><button type="button">Logout</button></a>       
</center>
  
</div>

