<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="container">
  <center><header><div><img src="\images\grocery-shopping-vector.png" class="img-responsive main-image"></div></header></center>
  
    <center><h1>Welcome to Smart Shopping </h1></center>
    <center><h2><i>Where you can create your very own shopping list</i></h2></center>
   
    
     <center> <p>Here are your items:</center></p>
   
   <% @items.each do |item| %>
   <% if item.user_id == session[:user_id] %> 
    <center><p><%= item.name %> * <%=item.quantity%></p></center><br>
    <br>
    <% end %>
    <% end %>

       
<li><a href="/logout">Logout</a></li>
  
</div>

#need a delete button, edit